/* navbar start */
.navbar{
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 8px;
    font-size: 16px;
    opacity: 0.5;
}
.navbar-brand{
    font-weight: 500;
    color: #066060;
    font-size: 29px;
    transition: 0.3s;
} 
.Login-button{
    background-color: #066060;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}
.Login-button:hover{
    background-color: #1b8787cf;
}
.navbar-toggler{
    border: none;
    font-size: 20px;
}
.navbar-toggler:focus,.btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover,.nav-link.active{
    color: black;
}
@media(min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #066060;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
}


/* navbar end */


@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: url(../IMAGES/slider4.jpg);
    background-size: 100% 150vh;
    background-attachment: fixed;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    /* background-color: #222; */
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 3em;
    color: white;
    font-weight: 500;
    margin-top: 60px;
}
.contact .content p{
    color:white;
    font-size: 1.1em;
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* height: 50px; */
    /* background:#f00;; */
    margin-top: 30px;
    color: black;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container .contactInfo .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg,#01dbc2 0%,#01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contactInfo .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg,#01dbc2 0%,#01dbc2 10%, transparent 10%, transparent 50%);
}
.container .contactInfo .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;

}
.container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}
.container .contactInfo .box .icon i{
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}
.container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #01dbc2;
}
.container .contactInfo .txt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}
.container .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;

}
.container .contactInfo .sci li{
    list-style: none;
}
.container .contactInfo .sci li a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}
.container .contactInfo .sci li a:hover{
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}
.container .contactForm{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a),#01dbc2 0%,#01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}
.container .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),#01dbc2 0%,#01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}
.container .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;
}
@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate {
    0%{
        --a:0deg
    }
    100%{
        --a:360deg
    }
    
}
.container .contactForm form{
    position: relative;
    z-index: 10;
}
.container .contactForm form h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}
.container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;
    resize: none;
}
.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}
.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span,

.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span{
    color: #01dbc2;
    font-size: 0.9em;
    transform: translateY(-24px);
}
.container .contactForm form .inputBox input[type="submit"]{
    width: 100%;
    background: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
/* Now Make It Resopnsive */
@media (max-width : 991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm{
        width: 100%;
}
.container .contactForm{
    padding: 40px;
}
.container .contactForm form{
    padding: 10px;
}
    
}
