  /* navbar start */
  .navbar{
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 8px;
    font-size: 16px;
    opacity: 0.5;
}
.navbar-brand{
    font-weight: 500;
    color: #066060;
    font-size: 29px;
    transition: 0.3s;
} 
.Login-button{
    background-color: #066060;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}
.Login-button:hover{
    background-color: #1b8787cf;
}
.navbar-toggler{
    border: none;
    font-size: 20px;
}
.navbar-toggler:focus,.btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover,.nav-link.active{
    color: black;
}
@media(min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #066060;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
}


/* navbar end */
 


/* HISTORY */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    margin: 7%;
  }
  
  .sidebar {
    width: 25%;
    background: #333;
    color: #fff;
    padding: 20px;
   
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    width: 75%;
    padding: 20px;
  }
  
  .main-content h1 {
    text-align: center;
  }
  
  .center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .details {
    margin-top: 20px;
  }
  #great-wall .history-image{
   
   
   align-items: center;
    height: 150px;
    width: 150px;
  }
  .container ul li{
    list-style: none;
  }
  button{
    border: 3px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: red;
    justify-content:space-between;
    color: white;
    
}
button:hover{
    background-color: cadetblue;
    scale: 1.2;
}
  /* FOOTER START */
.wonder-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .footer-info {
    background-color: #060606;
    color: white;
    padding: 40px 0;
  }
  .footer-info h4, .footer-info h5 {
    color: #f8f9fa;
  }
  .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #f8f9fa;
  }
  .social-icons i:hover {
    color: #007bff;
  }
  .footer-links a {
    color: #f8f9fa;
    text-decoration: none;
    margin-right: 15px;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
  .button{
    background-color: #066060;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
  }
  .button:hover{
    background-color: #1b8787cf;
  }
  /* FOOTER END */
  